
.tittle{
    font-size: 6rem;
    color:red ;
    background-color: blue;
    padding: 2rem;
    
}
.color{
    background-color: black ;
    color: white;
    font-size: 4rem;
    padding: 10px 0;
    border-radius: 1rem;
    padding: 3rem ;
}

*{
    margin: 0;
    padding: 0;
}